.week-name {
    color: #414141;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}
.week-button {
    color: var(--white);
    background-color: var(--brown);
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
}
.week-button:hover {
    background-color: var(--mid-brown);
}
.week-button:disabled {
    background-color: var(--light-brown);
}
.lesson-week-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.lesson-changer {
    display: flex;
}
.lesson-student-fullname {
    color: var(--white);
    background-color: var(--brown);
    padding: 5px 8px;
    margin: 5px 0 20px 0 ;
    border-radius: 10px 0 0 10px ;
}
.lesson-student-input {
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
    margin: 5px 0 20px 0 ;
    height: 40px;
    padding-right: 15px;
    border: 2px solid var(--brown);
    border-radius:   0 10px 10px 0;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lesson-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lesson-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.lesson {
    width: 184px;
    box-shadow: rgba(64, 64, 64, 0.5) 1px 1px 5px;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.lesson-info {
    background: var(--mid-brown);
    color: white;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
.lesson-info-slot {
    font-weight: bold;
}
.lesson-info-time {
    font-weight: 500;
}
.lesson-info-date {
    font-weight: 300;
    font-style: italic;
}
.lesson-students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
}
.lesson-student-name {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-brown);
    width: 85%;
    margin-top: 10px;
    border-radius: 5px;
}
.lesson-student-name-active {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--brown);
    width: 85%;
    margin-top: 10px;
    border-radius: 5px;

}
.lesson-student-filler {
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-gray);
    width: 85%;
    margin-top: 10px;
    border-radius: 5px;
    height: 23px
}

