
.gallery-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-title {
    margin: 30px 20px;
    color: var(--text-color);
}
.gallery-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.open-upload-button {
    background-color: var(--brown);
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.gallery-inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.gallery-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    justify-content: center;
    margin: 20px 100px 100px;
}
.gallery-photo {
    height: 400px;
}
.preview-photo {
    height: 70vh;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.modal-content-preview {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    gap: 0.8rem;
    text-align: center;
}
.photo-delete-button {
    background-color: #b23838;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}
.photo-cancel-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}
/* ========== MOBILE STYLING ========== */
@media (max-width: 600px) {
    .gallery-grid {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1rem;
        align-items: center;
    }

    .gallery-photo {
        height: auto;
        width: 90vw;
        max-width: 100%;
        border-radius: 8px;
    }

    .preview-photo {
        height: auto;
        width: 90vw;
        max-width: 100%;
    }

    .modal-content-preview {
        padding: 1rem;
        width: 95vw;
    }

    .gallery-title-container {
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
    }

    .open-upload-button {
        width: 90%;
        text-align: center;
        padding: 0.8rem;
    }
}
/* MID-RANGE DEVICES */
@media (max-width: 1000px) and (min-width: 601px) {
    .gallery-grid {
        justify-content: center;
        margin: 1rem;
        gap: 1.5rem;
    }

    .gallery-photo {
        max-width: 80vw;
        height: auto;
        max-height: 60vw;
    }

    .gallery-outer-container {
        padding: 0 1rem;
        overflow-x: hidden;
    }
    .preview-photo {
        height: auto;
        max-height: 500px;
        width: auto;
        max-width: 90vw;
        min-height: 300px;
    }

    .modal-content-preview {
        width: 90vw;
        padding: 1rem;
    }
}
