.week-name {
    color: #414141;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}
.week-button {
    color: var(--white);
    background-color: var(--brown);
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
}
.week-button:hover {
    background-color: var(--mid-brown);
}
.week-button:disabled {
    background-color: var(--light-brown);
}
.lesson-week-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.delete-week-button {
    border: none;
    padding: 5px 30px;
    background-color: var(--brown);
    font-weight: 500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -15px;
}
.delete-week-button:hover {
    background-color: #8f4949;
}
.lesson-changer {
    display: flex;
}
.lesson-student-fullname {
    color: var(--white);
    background-color: var(--brown);
    padding: 5px 28px;
    margin: 5px 0 20px 0 ;
    border-radius: 10px 0 0 10px ;
}
.lesson-student-input {
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
    margin: 5px 0 20px 0 ;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid var(--brown);
    border-radius:   0 10px 10px 0;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lesson-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lesson-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.lesson {
    width: 184px;
    background: var(--white);
    box-shadow: rgba(64, 64, 64, 0.5) 1px 1px 5px;
    height: 460px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.lesson-info {
    background: var(--mid-brown);
    color: var(--white);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
.lesson-info-slot {
    font-weight: bold;
}
.lesson-info-time {
    font-weight: 500;
}
.lesson-info-date {
    font-weight: 300;
    font-style: italic;
}
.lesson-students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
}
.lesson-student-name {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--light-brown);
    width: 85%;
    margin-top: 10px;
    border-radius: 5px;
}
.lesson-student-name-active {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--brown);
    width: 85%;
    margin-top: 10px;
    border-radius: 5px;
}
.lesson-student-filler {
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-gray);
    width: 85%;
    margin-top: 10px;
    border-radius: 5px;
    height: 23px
}

.planning-h2 {
    margin-top: 18px;
    margin-bottom: -12px;
    color: var(--text-color);
}

.lesson-student-name-overview {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--light-brown);
    width: 85%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.lesson-student-name-overview:hover {
    background: #934b4b;
}
.removal-message {
    margin-top: -10px;
    margin-bottom: 10px;
    color: var(--text-color);
}
.adding-students {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 700px;
    background: var(--mid-brown);
    min-height: 50px;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;
}
.lesson-student-adding-input{
    background-color: var(--mid-brown);
    margin-bottom: -1px;
    padding: 10px;
    color: var(--white);
    border: none;
    border-radius: 10px 10px 0 0;
}
.adding-students-names{
    color: var(--text-color);
    padding: 4px 15px;
    background-color: var(--white);
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.adding-students-names:hover {
    color: white;
    background: #697e68;
}
.submit-week-button {
     border: none;
    padding: 5px 70px;
    color: var(--white);
    font-weight: 600;
    background-color: var(--brown);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;

 }
.submit-week-button:hover {
    background-color: #697e68;
}
.adding-week-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 700px;
    background: var(--text-color);
    min-height: 550px;
    border-radius: 10px;
    padding: 10px;
    margin: 40px 0;
}
.input-week-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--brown);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    margin-bottom: 10px;
}
.input-week-lesson-button {
    border-radius: 5px;
    border: none;
    padding: 5px 20px 5px 23px;
    height: 32px;
    align-self: flex-end;
    color: var(--text-color);
    cursor: pointer;
}
.input-week-lesson-button:hover {
    background-color: #697e68;
    color: var(--white);
}
.input-week-item-bundel {
    display: flex;
    flex-direction: column;
}

.week-lesson-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
}
.week-lesson-input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 0.4rem;
    background-color: var(--brown);
    border-radius: 15px;
}
.adding-week-form input ,.week-lesson-input-container input {
    color: var(--text-color);
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 132px;
    text-align: center;
    border-radius: 5px;
}
.adding-week-form label ,.week-lesson-input-container label {
    color: var(--white);
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: -4px;
}
.week-lesson-delete-button {
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    height: 32px;
    cursor: pointer;
}
.week-lesson-delete-button:hover {
    background-color: #934b4b;
    color: var(--white);
}
.input-week-lesson-student {
    text-align: center;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white);
    border-radius: 5px;
}
.input-week-lesson-student:hover {
    background-color: #934b4b;
    color: var(--white);
}