.reset-password-container {
    display: flex;
    flex-direction: row;
    background: var(--background-color);
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.reset-password-form-form {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.reset-password-h2, .reset-password-description {
    color: var(--text-color);
    text-align: center;
}

.reset-password-h2 {
    margin-bottom: 1rem;
}

.reset-password-description {
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.reset-password-form-label {
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
}

.reset-password-form-input {
    padding: 0.2rem 0.6rem;
    height: 2rem;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    margin-bottom: 5px;
}

.reset-password-button {
    background-color: var(--brown);
    padding: 0.6rem 0.4rem;
    color: var(--background-color);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-weight: 300;
    transition: background-color 0.3s;
    text-align: center; /* For Link component */
    text-decoration: none; /* For Link component */
}

.reset-password-button:hover {
    background-color: var(--mid-brown);
}

.reset-password-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.reset-password-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: var(--brown);
    height: 100vh;
}

.reset-password-logo {
    width: 48vw;
}

.success-message {
    color: green;
    text-align: center;
    margin: 2rem 0;
}

.error-message {
    color: #d9534f;
    text-align: center;
    margin-top: 1rem;
}

.success-button {
    background-color: #28a745; /* A nice green for success */
}
.success-button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .reset-password-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .reset-password-form {
        width: 100vw;
        padding: 1rem;
    }

    .reset-password-form-form {
        width: 90%;
        max-width: 320px;
    }

    .reset-password-hero {
        display: flex;
        height: 250px;
        width: 100%;
    }

    .reset-password-logo {
        width: 60%;
        height: auto;
    }

    .reset-password-button {
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 400px) {
    .reset-password-form-input {
        font-size: 0.9rem;
    }

    .reset-password-button {
        font-size: 0.95rem;
    }

    .reset-password-h2 {
        font-size: 1.4rem;
    }

    .reset-password-description {
        font-size: 0.9rem;
    }
}
